.faqSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 2rem;
}

.faq {
    margin: 1.5rem;
    width: 80vw;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
    cursor: pointer;
}
.faqHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faqHeader >h3{
    font-weight: 400;
    font-size: 1rem;

}
@media screen and (max-width: 767px) {
    .faqSection {
        margin: 0.4rem;
        margin-bottom: 4rem;
    }.faqHeader >h3{
        width: 18rem;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 1023px){
  
  }
  @media screen and (min-width: 1024px) {
  
  }