.AlertContainer{
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alertBox{
    background-color:white;
    width: 40vw;
    height: auto;
    border-radius: 5px;
    padding: 2rem;
}
.alertBox>h2{
    margin-top: -1rem;
    font-size: 2rem;
    color: #FB5F65;
}
.alertBox >button{
    margin-top: 2rem;
}
@media screen and (max-width: 767px) {
    .alertBox{
        width: auto
    }
  }