.customizeSection {
    width: auto;
    height: auto;
    display: flex;
}

.calculator {
    width: 50vw;
    height: auto;
    background-color: #FFF6F6;
    padding: 0rem 2rem;
}

.sliderSelect {
    display: flex;
    justify-content: space-between;

}

.sliderInput {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#numberOfEmail {
    width: 24rem;
    height: 2.6rem;
    border: 1px solid #ACA5A5CC;
    border-radius: 5px;
    font-size: 1.1rem;
    color: black;
    padding: 0rem 1rem;
}

#totalPrice {
    height: 2.6rem;
    border: 1px solid #ACA5A5CC;
    border-radius: 5px;
    font-size: 1.1rem;
    color: black;
    padding: 0rem 1rem;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

label {
    margin-bottom: 1rem;
}

.exportCheckBoxes {
    text-align: left;
    margin-top: 2rem;
}
.exportCheckBoxes>p{
    font-size: 1.2rem;
}
label{
    font-size: 1.2rem;
}
.exportChecks{
    margin-left: -2.3rem;
}
.checkBox{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
}

.dropDownContainer {
    margin-top: 2rem;
    display: flex;
    height: auto;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}
.dropdown{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    
}
.dropDownHeading{
    font-size: 1.2rem;
}
.requiredField{
    font-size: 0.6rem;
    height: 1rem;
    margin-bottom: 1rem;
}

.results {
    background-color: #FB5F65;
    width: 50vw;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem;
}

.results>h1 {
    text-align: left;
}

.resultImage {
    margin-top: 2rem;
    width: 100%;
    height: 30rem;
}

.resultDetail {
    border-bottom: 0.6px solid white;
}

.tax {
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grandTotal {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.btn-contactUS {
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: white;
    border: none;
    color: #FB5F65;
    padding: 0.7rem 2.2rem;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Lexend', sans-serif;
}

@media screen and (max-width: 767px) {
    .customizeSection{
        flex-direction: column;
    }
    .calculator {
        width: auto;
    }
    .sliderSelect{
        flex-direction: column;
    }
    #numberOfEmail{
        width: auto;
    }
    .dropdown{
        flex-direction: column;
        align-items: center;
    }
    .results{
        width: auto;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 1023px){
  
  }
  @media screen and (min-width: 1024px) {
  
  }