@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;500;600;700;800;900&display=swap');


body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

